.project-card {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: grey;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--color-lightblue);
}
